body{
    background-image: url("profbg.jpg");

}
.navbar{
    display: flex;
    justify-content: flex-end;
}
li{
    padding-left : 20px;
    font-size: larger; 
}
ul{
    list-style: none;
}
a{
    color: black
}
a:hover{
    color: aliceblue;
}
td{
    color: aliceblue;
}
.pic{
border-radius: 50%;
height : 200px;
width : 200px;
background-image: url("picture.png");
background-position: center;
background-size: cover;
}
td{
    padding :20px;
    padding-bottom: 0px;
}