body{
    background-image: url("profbg.jpg");

}
.navbar{
    display: flex;
    justify-content: flex-end;
}
li{
    padding-left : 20px;
    font-size: larger; 
}
ul{
    list-style: none;
}
a{
    color: black;
}
a:hover{
    color: aliceblue;
}
.projects{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
}
p{
    font-size: xx-large;
    color: aliceblue;
}
img{
padding: 20px;
box-shadow: 10px 10px 20px;
border-radius: 30%;
height : 200px;
width : 200px;
background-position: center;
background-size: cover;
}
img:hover{
    box-shadow: 2px 2px 1px;
}